@model Department
@{
    ViewData["Title"] = "Create";
}

<h1>Create a new department</h1
<br />
<form asp-action="Create">
    <partial name="PartialViews/CreateEditpartialView" />
    <button type="submit" value="Submit" class="btn btn-primary mr-1">Submit</button>
    <a asp-action="Index" class="btn btn-light">Back to list</a>
</form>

@section ClientValidationSection
{
   <partial name = "_ValidationScriptsPartial" />
}