@model DepartmentViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name </h1>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Edit">
    <partial name="PartialViews/CreateEditPartialView" />
    <button type="submit" value="Save" class="btn btn-primary mr-1">Save</button>
    <a asp-action="Index" class="btn btn-light">Back to list</a>
</form>

@section ClientValidationSection
{
    <partial name= "_ValidationScriptsPartial" />
}