@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}

<h1 class="text-success"> employee @Model.Name details </h1>
<br />
<partial name="PartialViews/DetailsDeletePartialView" />
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary mr-1"> Edit </a>
<a asp-action="Index" class="btn btn-light">Back to list</a>

