@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Creative SignUp Form</h1>
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="Register" method="post">

			<input class="text" asp-for="FName" placeholder="Your first name" required="">
			<span asp-validation-for="FName" class="text-danger"></span>
			<br />
			<input class="text" asp-for="LName" placeholder="Your last name" required="">
			<span asp-validation-for="LName" class="text-danger"></span>
			<br />
			<input class="text" asp-for="Email" placeholder="Your email address" required="">
			<span asp-validation-for="Email" class="text-danger"></span>
			<br />

			<input class="text" asp-for="Password" placeholder="Your password" required="">
			<span asp-validation-for="Password" class="text-danger"></span>
			<br />

			<input class="text" asp-for="ConfirmPassword" placeholder="Confirm your passwrod" required="">
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			<br />

			<div class="wthree-text">
				<label class="anim">
					<input asp-for="IsAgree" class="checkbox" required="">
					<span>I Agree To The Terms & Conditions</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNUP">

		</form>
		<p>Don't have an Account? <a asp-action="Login"> Login Now!</a></p>
	</div>
</div>

@section ClientValidationSection
{
	<partial name="_ValidationScriptsPartial" />
}
